html,
body { 
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
nav{
  padding: 20px;
  background: rgb(221,162,0);
background: linear-gradient(90deg, #4e42d4 0%, rgb(214, 0, 203) 44%, rgb(255, 0, 149) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 200px;
  
}

nav h1{
  font-weight: 700;
}

main{
  background-color: #ffffff;
}


footer a:hover{
  color: aliceblue;
}

footer{
  bottom: 0;
  background-color: #000000;
  color: #797979;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #ff0000;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  
}
